:root {
    --pos_x_nav: 0px;
    --col_x_nav: red;
}

body {
    margin: 0;
    background-color:rgb(0, 77, 165);
    overflow-x: hidden;
}

nav {
    width: 80%;
    margin-left: 20%;
    min-height: 50px;
    background-color:rgb(5, 0, 41) ;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 50px 0px 0px 50px;
}

.rightNav {
    display: flex;
    transform: skew(-10deg);
    margin-right: 10px;
    div {
        width: 75px;
        text-align: center;
        padding-top: 25px;
        border: 1px solid black;
        &:hover {
            background-color: gray;
        }
        transition: 0.5s all;
    }
    
    &::after {
        content: "";
        position: absolute;
        margin-left: var(--pos_x_nav);
        transition: 1.5s all;
        top: 90%;
        width: 20%;
        height: 10%;
        background-color: var(--col_x_nav);
    }
}

.centerNav {
    margin-left: 200px;
    font-family: 'providence-bold';
    font-size: 3rem;
}

@font-face {
    font-family: 'providence-bold';
    src: url('../font/Bubble.ttf');
}

.leftNav {
    position: absolute;
    width:25%;
    margin-left: -20%;
    min-height:65px;
    background-color: rgb(84, 84, 83);
    z-index: -1;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    div {
        margin-right: 60px;
    }
}

.colorBar {
    position: absolute;
    width: 70%;
    height: 20px;
    background: #000;
    top: 20px;
    border-radius: 20px;
}

.text {
    position: absolute;
    top: 50px;
    left: 240px;
    font-size: 2rem;
    span {
        font-family: 'providence-bold';
        font-size: 6rem;
        letter-spacing: 5px;
    }
    button {
        width: 500px;
        height: 100px;
        font-size: 5rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 10px;
        border-radius: 30px;
        &:hover {
            transition: 1s all;
            box-shadow: inset 0 0 10px 10px rgb(94, 94, 94);
            font-size: 3rem;
            font-weight: 100;
        }
        &:not(:hover) {
            transition: 1s all;
            box-shadow: none;
            font-size: 5rem;
        }
    }
    dir {
        font-size: 1rem;
    }
    p {
        text-decoration: underline;
    }
}

.left {
    width: 70%;
    height: 100vh;
    background: #000;
    transform: skewX(-20deg);
    margin-left: -170px;
    text-align: center;
    color: aliceblue;
    border: 3px solid white;
    &::after {
        content: "";
        width: 10%;
        height: 100%;
        position: absolute;
        background-color: #212121;
        box-shadow: -10px 0 10px 1px rgb(58, 58, 58);
        right: 0;
        z-index: -1;
    }
}

.right {
    width: 150%;
    height: 120vh;
    transform: skewX(0deg);
    top: 0;
    margin-left: 5%;
    background-image: url("../assets/domino-studio-164_6wVEHfI-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 50%;
    filter: hue-rotate(210deg);
    position: absolute;
    z-index: -6;
}

.commentaries {
    background-color: #0a042ca2;
    box-shadow: 0 0 5px 1px blue, inset 0 0 10px 5px rgb(6, 0, 84);
    padding: 20px;

}

.commentary {
    animation-duration: 1s;
    animation-timeline: view(70% 0%);
    animation-name: autoShowAnimation;
    background-color: rgb(3, 3, 86);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgb(75, 75, 227);
    filter: none;
    z-index: 0;
    .title_comment {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        padding: 0;
        margin: 0;
    }
    h2 {
        padding-top: -40px;
        text-decoration: underline;
    }
    .profile {
            
        background-image: url(e-commerce\frontend\src\assets\people\p1.jpg);
        width: 50px;
        margin-right: 10px ;
        border-radius: 50px;
        height: 50px;
    }
    p {
        background: #241f88;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 5px 10px rgb(11, 11, 63);
    }
}

form {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #18096f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 100px;
    border: 5px solid rgb(88, 78, 231);
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin-right: 20px;
    label {
        text-align: left;
    }
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin-right: 20px;
    label {
        text-align: left;
    }
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin-right: 20px;
    label {
        text-align: left;
    }
    textarea {
        min-height: 300px;
    }
}

.titleContact {
    background-color: #062093;
    padding: 40px;
    box-shadow: inset 0 10px 40px 1px black;
    margin-top: 0;
    &::after {
        content: "";
        width: 100%;
        height: 1%;
        background: #062093;
        box-shadow: 0 10px 10px 5px rgb(1, 1, 84);
        position: absolute;
        left: 0;
        margin-top: 100px;
    }
    
    &::before {
        content: "";
        width: 100%;
        height: 1%;
        background: #062093;
        box-shadow: 0 -10px 10px 5px rgb(1, 1, 84);
        position: absolute;
        left: 0;
        margin-top: 1100px;
    }
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
textarea {
    box-shadow: 0px 10px 5px 1px rgb(2, 7, 69);
}

@keyframes autoShowAnimation {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}